<!DOCTYPE html>
<html lang="en">

<head>
  <title>Favorite Listings</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <!-- External CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/welcome.css" />
  <link rel="stylesheet" href="/styles/item-listings.css" />
</head>

<body>
  <%- include('partials/_navbar') %>
  <header class="page-header">Favorites</header>
  <main>
    <!--LISTINGS RENDERED HERE-->
    <div class="main-container">
      <% for (let listing of listings) { %>
        <a href="/listings/<%= listing.id %>">
          <div class="item-listing">
            <header><%= listing.name %></header>
            <div class="item-photo">IMAGE NOT FOUND</div>
            <article>
              <%= listing.description %>
            </article>
            <footer>
              <div class="item-date">posted <%= String(listing.time_created).slice(4, 15) %></div>
              <% if (listing.is_sold) { %>
                <div style="color:red">SOLD!</div>
              <% } %>
              <div class="item-price">$<%= listing.price %></div>
            </footer>
          </div>
        </a>
      <% } %>
  </main>
</body>

</html>
