<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <!-- External CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/welcome.css" />
  <link rel="stylesheet" href="/styles/item-listings.css" />


</head>

<body>
  <%- include('partials/_navbar') %>
  <header id="welcome-banner">
    <% if (user) { %>
      <h4>Welcome back, <%= user.name %>!</h4>
      <% } else { %>
      <h4>Welcome to BUYnSELL!</h4>
      <% } %>
  </header>
  <main>
    <h4>FEATURED CONTENT</h4>
    <!-- start of filter  -->
    <form id="price-filter" action="/filtered" method="post">
      <input name="minPrice" type="text" placeholder="min. price" id="filter-min-price"></input>
      <input name="maxPrice" type="text" placeholder="max. price" id="filter-max-price"></input>
      <button id="filter-submit">filter listings</button>
    </form>
    <!-- end of filter dropdown -->

    <!--LISTINGS RENDERED HERE-->
    <div class="main-container">
      <% for (let listing of listings) { %>
        <a href="/listings/<%= listing.id %>">
          <div class="item-listing">
            <header><%= listing.name %></header>
            <div class="item-photo">IMAGE</div>
            <article>
              <%= listing.description %>
            </article>
            <footer>
              <div class="item-date">DATE POSTED</div>
              <% if (listing.is_sold) { %>
              <div style="color:red">SOLD!</div>
              <% } %>
              <div class="item-price">$<%= listing.price %></div>
            </footer>
          </div>
        </a>
      <% } %>
  </main>

</body>

</html>
