<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <!-- External CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/posts.css" />
  <link rel="stylesheet" href="/styles/message-thread.css" />
    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- App JS -->
    <script src="/scripts/messages.js" type="text/javascript"></script>
</head>

<body>
  <%- include('partials/_navbar') %>
  <header class="page-header">Messages</header>
  <main>
    <section class="container-vertical">
      <% for (thread of messages) { %>
        <div class="thread-dropdown">
          <div><%= thread[0].sender_name %></div>
          <div>Listing: <%= thread[0].listing_title %></div>
          <div>LAST MESSAGE DATE? (STRETCH)</div>
        </div>
        <div class="thread-container message-thread">
          <div class="reply-form">
            <textarea placeholder="Reply to <%= thread[0].sender_name %>"></textarea>
            <button class="reply-button" type="submit">Reply</button>
          </div>
          <div class="hidden-values"><%= [thread[0].owner_id, thread[0].listing_id, thread[0].listing_title, user.name ] %> </div>
          <div class="messages-container">
          <% for (message of thread) { %>
            <div class="single-container">
              <header>
                <div><%= message.sender_name %></div>
                <div>Listing: <%= message.listing_title %></div>
                <div><%= String(message.time_sent).slice(0, 21) %></div>
              </header>
              <div class="container-lower">
                <div class="avatar"><%= message.sender_name[0] %></div>
                <article>
                  <%= message.contents %>
                </article>
                <div></div>
              </div>
            </div>
            <% } %>
          </div>
      </div>
      <% } %>
    </section>
  </main>

</body>

</html>
