<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Listings</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <!-- External CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/posts.css" />
  <!-- Internal JS -->
  <script src="/scripts/delete.js" type="text/javascript"></script>
</head>

<body>
  <%- include('partials/_navbar') %>
  <header class="page-header">My Listings</header>
  <main>
    <section class="container-vertical">
      <% for (const listingKeys in listings) { %>

      <div class="thread-container">
        <div class="single-container">
          <header>
            <div><%= listings[listingKeys].name %></div>
            <div>DATE POSTED</div>
          </header>
          <div class="container-lower">
            <div id="image">IMAGE</div>
            <article>
              <%= listings[listingKeys].description %>
            </article>
            <div id="item-price">
              <div>$<%= listings[listingKeys].price %></div>
            </div>
          </div>
          <footer>
            <div class="status-flags">
              <div id="is-sold">SOLD!</div>
            </div>
            <div>
              <form action = "/listings/<%= listings[listingKeys].id %>" method="GET">
                <button type="submit">View</button>
              </form>
              <form action = "/edit/<%= listings[listingKeys].id %>" method="GET">
                <button type="submit">Edit</button>
              </form>
              <button class="delete-button" >Delete</button>
              <div style="display: none" class="listing-key"><%= listings[listingKeys].id %></div>

              <button>Mark Sold</button>
            </div>
          </footer>
        </div>
      </div>
      <% } %>
    </section>
  </main>




    <!-- Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>


</body>

</html>
